# Project exclude paths
/.idea/
/test-freemarker/target/
/test-rabbitmq-consumer/target/
/test-rabbitmq-producer/target/
/xc-framework-common/target/
/xc-framework-model/target/
/xc-service-api/target/
/xc-service-base-filesystem/target/
/xc-service-manage-cms/target/
/xc-service-manage-cms-client/target/
/xc-service-manage-course/target/
/xc-service-search/target/